.site-center {
	width: 100%;
}

.central-nav {
	ul {
		@include global-nav-child(flex-start);
		li {
			margin: 0;
			a {
				@include leftnav-anchor;
				padding: 0.5rem 0.75rem;

				&:hover {
					background: $primary-darkest;
					color: $secondary-nice-blue;
				}
			}
		}
	}
}
