@import "./variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $primary-dark;
	color: $primary-ligher;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
	font-size: $Btn-Font-Size;
	text-decoration: none;
}

h1 {
	font-weight: bolder;
}

li {
	list-style: none;
	margin: 0 0.5rem;
}
