@import "./variables.scss";

/*primarily mixins for the global navbar*/

@mixin global-nav-child($justify-content) {
	display: flex;
	justify-content: $justify-content;
	align-items: center;
}

@mixin nav-logo-bg($font-size) {
	width: 2.3rem;
	height: 2.3rem;
	border-radius: 50%;
	font-size: $font-size;
	color: $primary-lighest;
	cursor: pointer;
	transition: all 150ms linear;
}

@mixin nav-logo-hover($color) {
	background: $primary-dark-2;
	color: $color;
}

/* mixin for the left nav */

@mixin leftnav-anchor {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	border-radius: $radius;
	text-transform: capitalize;

	p {
		margin-left: 0.6rem;
	}

	&:hover {
		color: $secondary-lighter-blue;
		background: $primary-dark-1;
	}
}

@mixin bottom-posters {
	width: 100%;
	background: $primary-dark-1;
	border-radius: $radius;
	padding: 1rem;
	margin-top: 1.7rem;
}
