/*primarily mixins for the global navbar secondarily for rightside third section listing 
  and also for left-nav settings btn
*/

@mixin global-nav-child($justify-content) {
	display: flex;
	justify-content: $justify-content;
	align-items: center;
}

@mixin nav-logo-bg($font-size) {
	width: 2.45rem;
	height: 2.45rem;
	border-radius: 50%;
	font-size: $font-size;
	color: $primary-lighest;
	transition: all 150ms linear;
}

@mixin nav-logo-hover($color) {
	background: $secondary-rare-blue;
	color: $secondary-lighter-blue;
}

/* mixin for the left nav */

@mixin leftnav-anchor {
	display: flex;
	align-items: center;
	padding: 0.545rem;
	border-radius: $radius;
	text-transform: capitalize;

	p {
		margin-left: 0.6rem;
	}

	&:hover {
		color: $secondary-lighter-blue;
		background: $primary-dark-1;
	}
}

@mixin bottom-posters {
	width: 100%;
	background: $primary-dark-1;
	border-radius: $radius;
	border: 1px solid $primary-dark-2;
	padding: 1rem;
	margin-top: 1rem;
}

/* mixin for right side sections*/

@mixin rightside-poster-bg {
	width: 100%;
	background: $primary-dark-1;
	border-radius: $radius;
	border: 1px solid $primary-dark-2;
}

/* Also used for reactions section btns in center */
@mixin rightside-bgless-buttons {
	cursor: pointer;
	background: inherit;
	border: none;
	outline: none;
	border-radius: $radius;
	font-size: 1.1rem;
	font-weight: bolder;
	color: $primary-light;
}

@mixin rightside-withbg-buttons {
	border: none;
	outline: none;
	padding: 0.6rem;
	margin: 0.2rem 1rem;
	cursor: pointer;
	font-size: 1rem;
	border-radius: $radius;
	color: $primary-light;
	text-transform: capitalize;
	transition: all 100ms linear;
}
