.nav-container {
	position: fixed;
	width: 100%;
	height: 3.5rem;
	background: $primary-dark-3;
	padding: 0.2rem 2rem;
	@include global-nav-child(space-between);
}

.leftside-nav {
	height: 3.5rem;
	@include global-nav-child(flex-start);
}

.dev-logo {
	margin-top: 0.2rem;
	font-size: 3rem;

	&:hover {
		color: $primary-light;
	}
}

.input-container {
	position: relative;
}

#searchbar {
	border: 1px solid $primary-dark-7;
	outline: none;
	width: 26.5rem;
	background: $primary-dark-5;
	height: 2.6rem;
	padding: 0.5rem;
	border-radius: $radius;
	color: $primary-lighter;
	transition: all 300ms;

	&:hover {
		border: 1px solid $primary-light-2;
	}

	&:focus {
		background: $primary-dark;
		border: 2px solid $secondary-blue;
	}
}

::placeholder {
	color: $primary-light-1;
	font-size: 1rem;
}

.search-btn {
	@include nav-logo-bg(1.3rem);
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	right: 0.5rem;
	top: 0.2rem;

	&:hover {
		@include nav-logo-hover("initail");
	}
}

.search-logo {
	margin: 8px;
}

.rightside-nav {
	@include global-nav-child(flex-end);
}

.post-btn {
	background: $secondary-light-blue;
	border: none;
	outline: none;
	height: 2.5rem;
	width: 7.6rem;
	font-size: 1rem;
	margin: 0 0.25rem;
	border-radius: $radius;
	text-transform: capitalize;
	cursor: pointer;
	transition: all 200ms linear;

	&:hover {
		background: $secondary-blue;
	}
}

.notification {
	@include global-nav-child(center);
	@include nav-logo-bg(1.1rem);

	&:hover {
		@include nav-logo-hover($primary-light);
	}
}

.img-container {
	width: 2.5rem;
	height: 2.5rem;
}

.img-container:hover .profile-picture,
.profile-picture:hover {
	outline: 4px solid $primary-darkest;
}

.profile-picture {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	margin: 3px;
	cursor: pointer;
}

.img-container:hover + .drop-down,
.drop-down:hover {
	display: block;
}

.drop-down {
	position: absolute;
	right: 2rem;
	top: 3.1rem;
	width: 16.5rem;
	background: $primary-dark-3;
	border: 1px solid $primary-dark-7;
	border-radius: $radius;
	padding: 0.5rem;
	cursor: pointer;
	display: none;

	.username-li {
		text-transform: none;

		p {
			color: $primary-light-1;
			margin-top: 0.5rem;
			font-size: 0.9rem;
		}

		&:hover {
			h4 {
				color: $secondary-lighter-blue;
			}
		}
	}

	li {
		padding: 0.6rem 0.5rem;
		margin: 0;
		color: $primary-light;
		text-transform: capitalize;
		border-radius: $radius;

		&:hover {
			background: $primary-dark-4;
			color: $secondary-lighter-blue;
		}
	}
}

hr {
	opacity: 0.1;
	margin: 0.5rem 0;
}
