.nav {
	background: $primary-dark-3;
	width: 100%;
	position: fixed;
	z-index: 999;
}

.nav-container {
	margin: 0 auto;
	max-width: 1400px;
	padding: 0.1rem 3.5rem 0.1rem 2.8rem;
	@include global-nav-child(space-between);
}

.leftside-nav {
	height: 3.5rem;
	@include global-nav-child(flex-start);
}

.dev-logo {
	margin-top: 0.2rem;
	font-size: 3rem;
	cursor: pointer;

	&:hover {
		color: $primary-light;
	}
}

.input-container {
	position: relative;
}

#searchbar {
	border: 1px solid $primary-dark-7;
	outline: none;
	width: 26.5rem;
	background: $primary-dark;
	height: 2.6rem;
	padding: 0.5rem;
	border-radius: $radius;
	color: $primary-lighter;
	transition: all 300ms;

	&:hover {
		border: 1px solid $primary-light-2;
	}

	&:focus {
		border: 2px solid $secondary-blue;
	}
}

::placeholder {
	color: $primary-dark-6;
	font-size: 1rem;
}

.search-btn {
	@include nav-logo-bg(1.3rem);
	background: none;
	border: none;
	cursor: pointer;
	border-radius: $radius;
	height: 94%;
	width: 2.5rem;
	position: absolute;
	right: 1px;
	top: 1px;

	&:hover {
		@include nav-logo-hover("initail");
	}
}

.search-logo {
	margin: 8px;
}

.rightside-nav {
	@include global-nav-child(flex-end);
}

.post-btn {
	background: $secondary-light-blue;
	border: none;
	outline: none;
	height: 2.5rem;
	width: 7.3rem;
	font-size: 1rem;
	border-radius: $radius;
	text-transform: capitalize;
	cursor: pointer;
	transition: all 200ms linear;

	&:hover {
		background: $secondary-blue;
	}
}

.notification {
	@include global-nav-child(center);
	@include nav-logo-bg(1.5rem);
	margin: 0.2rem;
	border-radius: $radius;
	color: aliceblue;

	&:hover {
		@include nav-logo-hover($primary-light);
	}
}

.li-img-container {
	margin: 0;
}

.img-container {
	@include global-nav-child(center);
	width: 3rem;
	height: 3rem;
}

.profile-picture:hover {
	outline: 4px solid $primary-dark-2;
}

.profile-picture {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	cursor: pointer;
}

.drop-down {
	position: absolute;
	right: 3.3rem;
	top: 3.4rem;
	width: 16.5rem;
	background: $primary-dark-3;
	border: 1px solid $primary-dark-7;
	border-radius: $radius;
	padding: 0.5rem;
	cursor: pointer;

	.username-li {
		text-transform: none;

		p {
			color: $primary-light-1;
			margin-top: 0.5rem;
			font-size: 0.9rem;
		}

		&:hover {
			h4 {
				color: $secondary-lighter-blue;
			}
		}
	}

	li {
		padding: 0.6rem 0.5rem;
		margin: 0;
		color: $primary-light;
		text-transform: capitalize;
		border-radius: $radius;

		&:hover {
			background: $primary-dark-4;
			color: $secondary-lighter-blue;
		}
	}
}

hr {
	opacity: 0.1;
	margin: 0.5rem 0;
}

@media (max-width: 830px) {
	.input-container {
		display: none;
	}

	.nav-container {
		padding: 0.1rem 0.5rem;
	}

	.drop-down {
		right: 1rem;
	}
}
