/*variables for color*/

/* Dark color list */

$primary-darkest: rgb(0, 0, 0);
$primary-darker: rgb(4, 4, 4);
$primary-dark: rgb(9, 9, 9);
$primary-dark-1: rgb(22, 22, 22);
$primary-dark-2: rgb(44, 44, 44);
$primary-dark-3: rgb(36, 36, 36);
$primary-dark-4: rgb(47, 47, 47);
$primary-dark-5: rgb(61, 61, 61);
$primary-dark-6: rgb(68, 68, 68);
$primary-dark-7: rgb(87, 87, 87);

/*lisght color list */

$primary-lighest: rgb(255, 255, 255);
$primary-lighter: rgb(249, 249, 249);
$primary-light: rgb(214, 214, 215);
$primary-light-1: rgb(163, 163, 163);
$primary-light-2: rgb(113, 113, 113);

/*secondary color*/

$secondary-blue: rgb(88, 85, 243);
$secondary-light-blue: rgb(123, 120, 255);
$secondary-nice-blue: rgb(23, 161, 246);
$secondary-lighter-blue: rgb(152, 150, 255);

$secondary-dark-black: rgb(18, 18, 18);
$secondary-dark-blue: rgb(21, 20, 34);
$secondary-dark-green: rgb(12, 30, 29);
$secondary-dark-red: rgb(30, 10, 10);
$secondary-rare-blue: rgb(68, 67, 81);
$secondary-green-forem-logo: cadetblue;

/*Font Size*/

$Btn-Font-Size: 1.07rem;
$radius: 0.35rem;
